@charset "UTF-8";
/* CSS Document */


* {
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-weight:normal;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: sans-serif;
	font-style: normal;
	font-size: 13px;
	background-color:#C4D700;
}
/*ナビゲーションのスタイル*/


header nav {
	width:1200px;
	margin:0 auto;
	background-color:#C4D700;
}
header nav ul li {
	float:left;
	height: 31px;
	width:150px;
	padding:8px 5px 5px 5px;
	font-size:12pt;
	margin-top:30px;
	text-align: center;
	border:solid 1px #5B5B5B;
}
header nav ul li:first-child {
	width:192px;
	height: 31px;
	border:none;
}
ul li a {
	text-decoration: none;
	color: #555;
	cursor:default;
}
ul li.home {
	background-color: #fff;
}
/*メニューをポイント時のスタイル*/

ul li:nth-child(n+2):hover {
	background-color: #fff;
}
.clear {
	clear:both;
}
/*背景のスタイル*/

.mainBox {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: #C4D700 url(images/main-bg.png) no-repeat center center;
	background-size: cover;
	box-sizing: border-box;
	padding: 30px 0 50px;
	height:950px;
}
/*メインのスタイル*/
h1 {
	width: 1200px;
	margin: 0 auto;
	text-align:left;
	margin-top:50px;
}
.mainimg img {
	width:1000px;
	height:321px;
}
.access-logo {
	width: 1200px;
	margin: 0 auto;
	text-align:left;
}
/*topic&newsのスタイル*/

.topic {
	width: 1200px;
	margin: 0 auto;
	text-align: left;
	margin-top:50px;
	padding-left:20px;
}
/*topic&newsの背景のスタイル*/
.topic-text {
	position:relative;
	top:-210px;
	left:25px;
	text-align:left;
	width:300px;
	height:180px;
	background:#E0E0E0;
	overflow:scroll;
}
/*topic&newsのテーブルのスタイル*/
table {
	font-size:10pt;
	border-collapse:collapse;
	width:285px;
}
tr {
	border-bottom:1px dashed #fff;
}
td:nth-child(odd) {
	padding:3px 3px 3px 10px;
	width:90px;
}
/*フッターのスタイル*/

footer {
	width:100%;
	text-align:center;
}
footer p, h2 {
	font-size:16px;
	line-height: 190%;
}
/*フッタートップのスタイル*/

.footer-top {
	background-color:#DAF2AD;
	padding-top:30px;
	padding-bottom:30px;
}
footer h2 {
	font-size:20px;
	font-weight:bold;
	color:#34A02B;
}
.footer-top p {
	color:#879183;
}
/*フッタートップのお問い合わせボタンのスタイル*/




.footer-btn {
	display: inline-block;
	margin-top:10px;
}
.footer-btn a {
	display:block;  /* ブロック要素にしてリンク範囲を作る */
	width:200px;  /* ボタンの幅 */
	background:#C4D700;  /* ボタンの背景色 */
	border-radius:20px;  /* 角丸（半径10px） */
	color:#7C7C7C;  /* リンクテキストのカラー */
	line-height:46px;  /* ボタンの高さ＋テキストを中央（上下方向）にする */
	text-decoration:none;  /* リンクの下線（装飾）を消す */
	text-align:center;  /* テキストを中央寄せ */
	transition: .6s;
}
.footer-btn a:hover {
	background:#DAE500;  /* カーソルが乗った時の背景色 */
	color:#7C7C7C;  /* カーソルが乗った時のテキストカラー */
}
/*フッターボトムのスタイル*/


.fotter-bottom {
	background-color:#fff;
	padding:10px 0;
}
